# logging/debugging
# Default is INFO, other option DEBUG, ERROR, WARNING
LOG_LEVEL=DEBUG
# which module to debug via debugpy attach on exposed docker port 5679: imap_bot,telegram_bot,zoomrec_server_app
DEBUG_MODULE=imap_bot
DEBUG_PORT=5679
# timezone (only used for logging timestamps)
TZ=Australia/Sydney

# directories
ZOOMREC_HOME=/home/zoomrec

# API server`
# docker internal port where API server is listening - this is hard-coded in the dockerfile
DOCKER_SERVER_PORT=80
# external port mapped to the docker internal port for API server - some ports on a server may be used already
SERVER_PORT=8081
# not required for docker but local testing
SERVER_URL=http://localhost:8081
SERVER_USERNAME=<required>
SERVER_PASSWORD=<required>

# IMAP bot to receive events via email
IMAP_SERVER=<required>
IMAP_PORT=143
EMAIL_ADDRESS=<required>
EMAIL_PASSWORD=<required>
AI_API_KEY=<required>

# telegram bot to display, create modify, delete events and users
TELEGRAM_BOT_TOKEN=<required>
TELEGRAM_BOT_ADMIN_USERIDS=<required>

# SFTP/SSH
# docker internal port where SSH server is listening - this is hard-coded in the dockerfile
DOCKER_SSH_PORT=22
# external port mapped to internal port 22 in docker
SSH_PORT=22022




