CLIENT_ID=550e8400-e29b-41d4-a716-446655440000
ZOOMREC_HOME=/home/zoomrec
DISPLAY_NAME=Monica
LEAD_TIME_SEC=60
TRAIL_TIME_SEC=300

# logging/debugging
LOG_LEVEL=DEBUG
# which module to debug via debugpy attach on exposed docker port 5678: zoomrec
# DEBUG_MODULE=zoomrec
DEBUG_PORT=5678
# timezone (only used for logging timestamps)
TZ=Etc/UTC

# API server
# server/port of the zoomrec server docker
SERVER_URL=http://host.docker.internal:8081
SERVER_USERNAME=<required>
SERVER_PASSWORD=<required>

# SMB/Samba server
SAMBA_USER=<required>
SAMBA_PASS=<required>

# SSH/SFTP
SSH_SERVER_URL=host.docker.internal:22022
SSH_IDENTITY_FILE=$ZOOMREC_HOME/.ssh/id_rsa

# VAAPI hardware acceleration
# intel CPU with iGPU Gen 11 (also works under WSL2) supports HECV/x265 hardware encoding:
LIBVA_DRIVER_NAME=d3d12
# intel CPU with iGPU Gen 7 (Kaby Lake) or later supports HECV/x265 hardware encoding: 
# LIBVA_DRIVER_NAME=iHD
# intel CPU with iGPU Gen 3 (Ivy Bridge) supports MPEG4/x264 hardware encoding:
# LIBVA_DRIVER_NAME=i965


