testresources
pyautogui
schedule
psutil
opencv-python-headless
pillow >= 9.2.0
requests
validators
python-telegram-bot >= 20.0.0
backports.zoneinfo;python_version<"3.9"
pyyaml
beautifulsoup4
shortuuid
debugpy
# for postprocessing
whisper-ctranslate2-remote-api